*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eb7906;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    font-size:16px;
}

button{
    padding:10px 20px;
    background:#b86d0c;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

ul{
    margin-top:20px;
}

li{
    list-style:none;
    background:#f2f2f2;
    padding:10px;
    margin-bottom:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.delete-btn{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

.delete-btn:hover{
    background:darkred;
}